body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content:    center;
    align-items: center;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
}

.calendar {
    flex: 1;
    width: -webkit-fill-available;
}

.calendar-container {
    flex: 1;
    width: -webkit-fill-available;
    padding: 5dvw;
    background-color: #f0f0f0;
}

.calendar-grid {
    flex: 1;
    display: grid;
    grid-template-rows: 3cqh repeat(6, 1fr);
    grid-template-columns: 2cqw repeat(7, 1fr);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.weekday {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}

.week {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}

.prev-day, .day, .next-day {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}

.prev-day, .next-day {
    color: #ccc;
}

.current {
    color: red;
}
