{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <script src="https://unpkg.com/htmx.org@latest"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body id="root-body">
        <div class="header" hx-get="/header" hx-trigger="load">
            {{ template "header" . }}
        </div>
        <div class="calendar" hx-post="/calendar" hx-trigger="load">
            {{ template "calendar" . }}
        </div>
    </body>
</html>
{{ end }}
